title: John Smith
description: My Personal Blog
author: John Smith
logo: /hcz-jekyll-blog/static/img/avatar.png
github: https://github.com/codeasashu
about: Freelance developer

baseurl: "https://github.com/LichHocThuyLoi/lichhocthuyloi.github.io"
url: "https://github.com/LichHocThuyLoi/lichhocthuyloi.github.io"

allowsearch: true

disqus_shortname: aboutashu
google_analytics: UA-72862926-1

share:
  twitter_username: \#
  fb_appid: 000000000000


enableTags: true
tagarray: []

paginate: 20
per_page: 20
paginate_path: "/page:num/"
markdown: kramdown
gems: [jekyll-paginate, jekyll-gist]
