<ul class="list-separator nav navbar-nav well well-primary {{ page.layout }}">
{% for i in site.urls %}
	{% assign current = nil %}
	{% assign pageurl = page.url | split:'/' | last %}
	{% assign menuurl = i.url | split:'/' | last %}
	{% assign linkurl = nil %}
	{% if i.url contains '://' %}
	{% assign linkurl = i.url %}
	{% else %}
	{% assign linkurl = i.url | prepend: site.baseurl %}
	{% endif %}
	{% assign target = i.target %}
    {% unless target %} {% assign target = '_self' %} {% endunless %}
	{% if pageurl == menuurl or page.layout == i.layout %} {% assign current = 'current-menu-item' %} {% endif %}
	<li class="col-lg-12 col-md-12 col-sm-4 col-xs-12 {{ current }} {{ pageurl }}"><a href="{{ linkurl }}" target="{{ target }}"><i class="fa {{ i.icon }}"></i> {{ i.text }}</a></li>
{% endfor %}
</ul>